.app {
    min-height: 100vh;
    min-width: 100vw;
    background: #111219;
}

.dialogue-container {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
}

.interaction-box {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
}

.speech-dialogue-container {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* padding-top:20px; */
}

@media (min-width: 575.98px) {
    .speech-dialogue-container {
        height: 30vh;
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left:38%;
        /* align-items: flex-start; */
        /* padding-top:20px; */
    }
    
}